
.cap-request-page-container {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  h2 {
    margin-bottom: 20px;
  }
  .ant-form-item {
    margin-bottom: 14px;
  }
}

.cap-machine-row {
  flex-wrap: nowrap;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  .ant-form-item-label {
    line-height: 25px;
  }
}

.cap-machine-row-container {
  margin-bottom: 20px;
}

.cap-submit-btn {
  margin-top: 20px;
}

